@{
    ViewData["Title"] = "Riepilogo Domande";
    var idEnte = ViewBag.SelectedEnteId ?? "ND";
    var nomeEnte = ViewBag.nomeEnte ?? "ND";
    var ruolo = ViewBag.Ruolo;

    var domande = ViewBag.Domande;
    var elaborazione = ViewBag.ElaborazioneDel;
}

<div class="container-xxl flex-grow-1 py-5">
    <div class="card shadow-sm border-0 rounded-4">
        <!-- Header -->
        <div class="card-header header-classic border-0 rounded-top-4 d-flex flex-column align-items-center p-4">
            <h3 class="mb-1 fw-bold">
                <i class="bi bi-building me-2"></i> Dattagli Domande Elaborazione -
                <span class="fw-semibold">
                   @elaborazione
                </span>
            </h3>
            <small>Ente: @nomeEnte</small> 
        </div>

        <!-- Barra di caricamento -->
        <div id="loadingBarContainer" style="display: none;">
            <div id="loadingBar" role="progressbar"></div>
        </div>

        <!-- Body -->
        <div class="card-body p-4">
            @if (domande != null && domande.Count > 0)
            {
                <div style="background-color: #f8f9fa; border-radius: 12px;">
                        <div class="row g-3">
                            <!-- Stat Box 1 -->
                            <div class="col-md-4">
                                <div class="card border-0 shadow-sm text-center">
                                    <div class="card-body">
                                        <i class="fa-solid fa-file fa-2x text-primary mb-2"></i>
                                        @* <i class="fa-solid fa-city fa-2x "></i> *@
                                        <h6>Totale Domande</h6>
                                        <h4>@ViewBag.TotaleDomande</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- Stat Box 2 -->
                            <div class="col-md-4">
                                <div class="card border-0 shadow-sm text-center">
                                    <div class="card-body">
                                        <i class="fa-solid fa-xmark fa-2x text-danger mb-2"></i>
                                        <h6>Incongruenze Trovate</h6>
                                        <h4>@ViewBag.incongruenze</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Stat Box 3 -->
                            <div class="col-md-4">
                                <div class="card border-0 shadow-sm text-center">
                                    <div class="card-body">
                                        <i class="fa-solid fa-circle-check fa-2x text-success mb-2"></i>
                                        <h6>Domande Esito 1</h6>
                                        <h4>@ViewBag.DomandeValide</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row g-3">
                            <!-- Esito 2 -->
                            <div class="col-md-4">
                                <div class="card border-0 shadow-sm text-center">
                                    <div class="card-body">
                                        <i class="fa-solid fa-lightbulb fa-2x text-primary mb-2"></i>
                                        <h6>Esito 2</h6>
                                        <h4>@ViewBag.DomandeEsito2</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- Esito 3 -->
                            <div class="col-md-4">
                                <div class="card border-0 shadow-sm text-center">
                                    <div class="card-body">
                                        <i class="fa-solid fa-exclamation-triangle fa-2x text-warning mb-2"></i>
                                        <h6>Esito 3</h6>
                                        <h4>@ViewBag.DomandeEsito3</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- Esito 4 -->
                            <div class="col-md-4">
                                <div class="card border-0 shadow-sm text-center">
                                    <div class="card-body">
                                        <i class="fa-solid fa-times-circle fa-2x text-danger mb-2"></i>
                                        <h6>Esito 4</h6>
                                        <h4>@ViewBag.DomandeEsito4</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                 
                <hr class="my-4" />
                 <p class="lead mb-4 text-muted">Consulta tutte le domande relative al Domande selezionato</p>
                 <br>

                <div class="table-responsive">
                    <table id="dettagliDomandeTable" class="table table-hover align-middle border-bottom">
                        <thead>
                            <tr>
                                 <th class="text-center">idAto</th>
                                <th class="text-center">Codice Bonus</th>
                                <th class="text-center">Codice Fiscale Richiedente</th>
                                <th class="text-center">Id Fornitura</th>
                                <th class="text-center">Componenti</th>
                                <th class="text-center">Esito str</th>
                                <th class="text-center">Esito</th>
                                <th class="text-center">Incongruente</th>
                                <th class="text-center">Azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var domanda in domande)
                            {
                                <tr>
                                    <td class="text-center"><span>@domanda.idAto</span></td>
                                     <td class="fw-semibold text-center"><span >@domanda.codiceBonus</span></td>
                                    <td class="fw-semibold text-center"><span>@domanda.codiceFiscaleRichiedente</span></td>
                                    <td class="text-center"><span>@domanda.idFornitura</span></td>
                                    <td class="text-center"><span>@domanda.numeroComponenti</span></td>
                                    <td class="text-center">
                                            @if (string.IsNullOrEmpty(domanda.esitoStr))
                                            {
                                                <span class="badge bg-secondary">N/A</span>
                                            }
                                            else if (domanda.esitoStr.Equals("Si", StringComparison.OrdinalIgnoreCase))
                                            {
                                                <span class="badge bg-success">Si</span>
                                            }
                                            else if (domanda.esitoStr.Equals("No", StringComparison.OrdinalIgnoreCase))
                                            {
                                                <span class="badge bg-danger">No</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-warning text-dark">@domanda.esitoStr</span>
                                            }
                                    </td>
                                    <td class="text-center">
                                        @switch (domanda.esito)
                                        {
                                            case "01":
                                                <span class="badge bg-success">1</span>
                                                break;
                                            case "02":
                                                <span class="badge bg-primary">2</span>
                                                break;
                                            case "03":
                                                <span class="badge bg-warning text-dark">3</span>
                                                break;
                                            case "04":
                                                <span class="badge bg-danger">4</span>
                                                break;
                                            default:
                                                <span class="badge bg-secondary">N/A</span>
                                                break;
                                        }
                                    </td>
                                    <td class="text-center">
                                         @if (domanda.incongruenze == false)
                                            {
                                                <span class="badge bg-danger">Falso</span>
                                            }
                                            else if (domanda.incongruenze == true)
                                            {
                                                <span class="badge bg-success">Vero</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-secondary">N/A</span>
                                            }
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-light border me-1" title="Varia"
                                            href="@Url.Action("Varia", "Report", new { id = domanda.id })">
                                            <i class="bi bi-pencil-square text-primary"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning text-center shadow-sm rounded-3">
                    <i class="bi bi-exclamation-triangle me-2"></i> Nessun dato disponibile per l'ente selezionato.
                </div>
            }
            <hr class="my-4" />

            @if(ruolo !="OPERATORE"){
                        <div class="d-grid mt-4">
                            <a href="@Url.Action("Index", "Report")" class="btn btn-outline-secondary btn-lg shadow-sm">
                                <i class="bi bi-arrow-left-circle me-2"></i> Torna alla Selezione Ente
                            </a>
                        </div>
                    }else{
                        <div class="d-grid mt-4">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-outline-secondary btn-lg shadow-sm">
                            <i class="bi bi-arrow-left-circle me-2"></i> Torna alla Home
                        </a>
                    </div>
                    }      
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#loadingBarContainer").show();
                var progress = 0;
                var interval = setInterval(function () {
                    if (progress < 90) {
                        progress += 10;
                        $("#loadingBar").css("width", progress + "%");
                    }
                }, 300);
                
            var dettagliTable = $('#dettagliDomandeTable').DataTable({
                paging: true,
                searching: true,
                ordering: true,
                responsive: true,
                language: { url: "https://cdn.datatables.net/plug-ins/2.0.8/i18n/it-IT.json" },
                //dom: '<"row mb-3"<"col-sm-6"l><"col-sm-6 text-end"Bf>>t<"row mt-3"<"col-sm-6"i><"col-sm-6 text-end domande"p>>',
            }); 
            dettagliTable.on('init', function () {
                clearInterval(interval);
                $("#loadingBar").css("width", "100%");
                setTimeout(function () {
                    $("#loadingBarContainer").fadeOut();
                    $("#tableWrapper").fadeIn(); 
                }, 500);
            });
        }); 
    </script>
}
