@using System.Globalization
@model IEnumerable<Models.ViewModels.ReportViewModel>
@{
    ViewData["Title"] = "Riepilogo Dati Ente";
    var selectedEnteId = ViewBag.idEnte;
    var selectedEnteNome = ViewBag.SelectedEnteNome;
    var ruolo = ViewBag.Ruolo;
    var Reports = ViewBag.Reports;
}

<div class="container-xxl flex-grow-1 py-5">
    <div class="card shadow-sm border-0 rounded-4">
        <!-- Header -->
        <div class="card-header header-classic border-0 rounded-top-4 d-flex flex-column align-items-center p-4">
            <h3 class="mb-1 fw-bold">
                <i class="bi bi-building me-2"></i> Elaborazioni Disponibili -
                <span class="fw-semibold">@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(selectedEnteNome.ToLower())</span>
            </h3>
            <small>ID Ente: @selectedEnteId</small>
        </div>

           <!-- Barra di caricamento -->
            <div id="loadingBarContainer" style="display: none;">
                <div id="loadingBar" role="progressbar"></div>
            </div>

        <!-- Body -->
        <div class="card-body p-4">
            @if (Reports != null)
            {
                <p class="lead mb-4 text-muted">Seleziona un'elaborazione per visualizzare le domande corrispondenti.</p>
                
                <div class="btn-group">
                    <a href="@Url.Action("NewProcessing", "Elaborazione")" class="btn btn-outline-primary">
                        <i class="bi bi-gear-fill me-1"></i>Nuova Elaborazione
                    </a>
                </div>
                <div class="table-responsive">
                    <table id="elencoDomande" class="table table-hover align-middle border-bottom">
                        <thead>
                            <tr>
                                <th class="text-center">Elaborazione</th>
                                <th class="text-center">Data Elaborazione</th>
                                @if(ruolo == "ADMIN"){
                                    <th class="text-center">Data Aggiornamento</th>
                                }
                                <th class="text-center">Stato</th>
                                <th class="text-center">Serie</th>
                                <th class="text-center">Numero Record</th>
                                <th class="text-center">Elabotato da</th>
                                <th class="text-center">Azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var report in Reports)
                            {
                                @* var dataUrl = report.DataCreazione.ToString("yyyy-MM-dd HH:mm:ss"); *@
                                var dataUrl = report.DataCreazione.ToString("dd/MM/yyyy HH:mm:ss");
                                var dataAggiornamento = report.DataAggiornamento?.ToString("dd/MM/yyyy HH:mm:ss") ?? "ND";
                                 @* Formattazione mese e anno *@
                                var esportatoda = report.mese + " " + report.anno;
                                esportatoda = CultureInfo.CurrentCulture.TextInfo.ToTitleCase(esportatoda.ToLower());
                                  <tr>
                                    <td class="text-center"><span>@esportatoda</span></td>
                                    <td class="text-center"><span>@dataUrl</span></td>
                                    @if(ruolo == "ADMIN"){
                                        <td class="text-center"><span>@dataAggiornamento</span></td>
                                    }
                                    <td class="text-center"><span>@report.stato</span></td>
                                    <td class="text-center"><span>@report.serie</span></td>
                                    <td class="text-center"><span>@report.count</span></td>
                                    <td class="text-center"><span>@report.Username</span></td>
                                    
                                    <td class="text-center">
                                        <div class="d-flex justify-content-center align-items-center gap-2">
                                            <!-- Pulsante Dettaglio -->
                                            <a class="btn btn-sm btn-light border" 
                                            href="@Url.Action("Dettails", new { idReport = report.id })"
                                            title="Visualizza dettaglio report">
                                                <i class="bi bi-eye text-primary"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-warning text-center shadow-sm rounded-3">
                    <i class="bi bi-exclamation-triangle me-2"></i> Nessun dato disponibile per l'ente selezionato.
                </div>
            }

            @if(ruolo != "OPERATORE"){
                        <div class="d-grid mt-4">
                            <a href="@Url.Action("Index", "Report")" class="btn btn-outline-secondary btn-lg shadow-sm">
                                <i class="bi bi-arrow-left-circle me-2"></i> Torna alla Selezione Ente
                            </a>
                        </div>
                    }else{
                        <div class="d-grid mt-4">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-outline-secondary btn-lg shadow-sm">
                            <i class="bi bi-arrow-left-circle me-2"></i> Torna alla Home
                        </a>
                    </div>
                    }      
        </div>
    </div>
</div>
