@{
    ViewData["Title"] = "Modifica Ente";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow rounded-4 border-0">
                <div class="card-header bg-primary text-white text-center rounded-top-4">
                    <h3 class="mb-0">Modifica Ente</h3>
                </div>
                <div class="card-body p-4">
                    <form asp-controller="Enti" asp-action="Update" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="@ViewBag.id" />
                        <input type="hidden" name="data_creazione" value="@ViewBag.data_creazione" />
                        <input type="hidden" name="data_aggiornamento" value="@ViewBag.data_aggiornamento" />
                        
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome*</label>
                            <input type="text" class="form-control" id="nome" name="nome" value="@ViewBag.nome" required>
                        </div>
                        <div class="mb-3">
                            <label for="istat" class="form-label">Istat*</label>
                            <input type="text" min="5" max="5" class="form-control" id="istat" name="istat"  value="@ViewBag.istat"  maxlength="11" required>
                        </div>
                        <div class="mb-3">
                            <label for="cap" class="form-label">CAP*</label>
                            <input type="text" min="5" max="5" class="form-control" id="cap" name="cap" value="@ViewBag.Cap"" maxlength="11" required>
                        </div>
                         <div class="mb-3">
                            <label for="partitaIVA" class="form-label">Partita IVA*</label>
                            <input type="text" class="form-control" id="partitaIVA" name="partitaIVA" value="@ViewBag.partitaIva" maxlength="11" required>
                        </div>
                        <div class="mb-3">
                            <label for="codiceFiscale" class="form-label">Codice Fiscale</label>
                            <input type="text" class="form-control" id="codiceFiscale" name="codiceFiscale" value="@ViewBag.CodiceFiscale" maxlength="11">
                        </div>
                       <div class="mb-3">
                            <label for="provincia" class="form-label">Provincia</label>
                            <input type="text" class="form-control" id="provincia" name="provincia" value="@ViewBag.Provincia" maxlength="2">
                        </div>
                        <div class="mb-4">
                            <label for="regione" class="form-label">Regione</label>
                            <input type="text" class="form-control" id="regione" name="regione" value="@ViewBag.Regione">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg rounded-3">Aggiorna l'Ente</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>