@* @model IEnumerable<BonusIdrici2.Models.ViewModels.UtenzeViewModel> *@
@{
    ViewData["Title"] = "Modifica Utenza";
    var utenza = ViewBag.Utenza;
    var tipoUtenza = utenza.tipoUtenza;
    var tipiDisponibili = new List<string>
    {
        "UTENZA COMMERCIALE",
        "UTENZA DOMESTICA",
        "UTENZA USO ARTIGIANALE",
        "UTENZA USO INDUSTRIALE",
        "UTENZA SPECIALE TEMPORANEA"
    };

    var sesso = utenza.sesso;
    var sessoUtenza = new List<string> { "M", "F", "D" };
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="card shadow rounded-4 border-0">
                <div class="card-header bg-primary text-white text-center rounded-top-4">
                    <h3 class="mb-0">Modifica Utenza</h3>
                </div>
                <div class="card-body p-5">
                    <form asp-controller="Utenze" asp-action="Update" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="@utenza.id" />
                        <input type="hidden" name="idEnte" value="@utenza.IdEnte" />

                        <div class="row row-cols-1 row-cols-md-2 g-4">

                            @* <div>
                                <label for="idAcquedotto" class="form-label">ID Acquedotto: *</label>
                                <input type="text" class="form-control" id="idAcquedotto" name="idAcquedotto" value="@utenza.idAcquedotto" readonly>
                            </div> *@

                            <div>
                                <label for="matricolaContatore" class="form-label">Matricola: *</label>
                                <input type="text" class="form-control" id="matricolaContatore" name="matricolaContatore" value="@utenza.matricolaContatore" required>
                            </div>

                            <div>
                                <label for="stato" class="form-label">Stato: *</label>
                                <input type="number" class="form-control" id="stato" name="stato"
                                       value="@utenza.stato" min="1" max="5" required>
                            </div>

                            <div>
                                <label for="periodoIniziale" class="form-label">Periodo Iniziale: *</label>
                                <input class="form-control" type="date" id="periodoIniziale" name="periodoIniziale"
                                       value="@(utenza.periodoIniziale?.ToString("yyyy-MM-dd") ?? "")" readonly>
                            </div>

                            <div>
                                <label for="periodoFinale" class="form-label">Periodo Finale: </label>
                                <input class="form-control" type="date" id="periodoFinale" name="periodoFinale"
                                       value="@(utenza.periodoFinale?.ToString("yyyy-MM-dd") ?? "")">
                            </div>

                            <div>
                                <label for="indirizzo_ubicazione" class="form-label">Indirizzo: *</label>
                                <input type="text" class="form-control" id="indirizzo_ubicazione" name="indirizzo_ubicazione"
                                       value="@utenza.indirizzoUbicazione" required>
                            </div>

                            <div>
                                <label for="numero_civico" class="form-label">Civico: *</label>
                                <input type="text" class="form-control" id="numero_civico" name="numero_civico"
                                       value="@utenza.numeroCivico" required>
                            </div>

                           <div>
                                <label for="tipo_utenza" class="form-label">Tipo Utenza: *</label>
                                <select class="form-select" id="tipo_utenza" name="tipo_utenza" required>
                                    @foreach (var tipo in tipiDisponibili)
                                    {
                                        <option value="@tipo" selected="@(tipo == tipoUtenza ? "selected" : null)">@tipo</option>
                                    }
                                </select>
                            </div>

                            <div>
                                <label for="cognome" class="form-label">Cognome: *</label>
                                <input type="text" class="form-control" id="cognome" name="cognome"
                                       value="@utenza.cognome" required>
                            </div>

                            <div>
                                <label for="nome" class="form-label">Nome: *</label>
                                <input type="text" class="form-control" id="nome" name="nome"
                                       value="@utenza.nome" required>
                            </div>

                            <div>
                                <label for="sesso" class="form-label">Sesso: *</label>
                                <select class="form-select" id="sesso" name="sesso" required>
                                    @foreach (var sex in sessoUtenza)
                                    {
                                        <option value="@sex" selected="@(sex == sesso ? "selected" : null)">@sex</option>
                                    }
                                </select>
                            </div>

                            <div>
                                <label for="codice_fiscale" class="form-label">Codice Fiscale: *</label>
                                <input type="text" class="form-control" id="codice_fiscale" name="codice_fiscale"
                                       value="@utenza.codiceFiscale" required>
                            </div>

                            <div>
                                <label for="partita_iva" class="form-label">Partita IVA: </label>
                                <input type="text" class="form-control" id="partita_iva" name="partita_iva"
                                       value="@utenza.partitaIva">
                            </div>

                        </div>

                        <hr class="my-4" />

                        <div class="d-grid gap-3">
                            <button type="submit" class="btn btn-primary btn-lg rounded-3">Aggiorna</button>
                            <a class="btn btn-back btn-lg rounded-3"
                               href="@Url.Action("Show", "Utenze", new { selectedEnteId = utenza.IdEnte })">
                                Torna alla consultazione
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
