@model IEnumerable<Models.ViewModels.AnagrafeViewModel>
@{
    ViewData["Title"] = "Modifica Persona";
    var dichiarante = ViewBag.Dichiarante;
    var sesso = dichiarante.Sesso;
    var sessi = new List<string> { "M", "F" };
    var parenti = ViewBag.Parenti;
    //var componentiNucleo = ViewBag.Componenti;
    var componentiNucleo = dichiarante.NumeroComponenti;
}

<div class="report-page container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-11">
            <div class="modern-card shadow rounded-4 border-0">

                <!-- HEADER -->
                <div class="card-header header-classic border-0 rounded-top-4 d-flex flex-column align-items-center p-4">
                    <h3 class="mb-1 fw-bold fs-4">
                        <i class="fa-solid fa-pen-to-square me-2"></i>
                        <span class="fw-semibold">Modifica Persona</span>
                    </h3>
                </div>

                <!-- FORM -->
                <div class="modern-card-body p-4 small">
                    <form asp-controller="Anagrafe" asp-action="Update" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="@dichiarante.id" />
                        <input type="hidden" name="idEnte" value="@dichiarante.IdEnte" />


                        <div class="accordion" id="accordionDichiarante">

                            <!-- SEZIONE 1 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading1">
                                    <button class="accordion-button fs-6" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                        <i class="fa-solid fa-id-card me-2"></i> Dati Identificativi
                                    </button>
                                </h2>
                                <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                                     data-bs-parent="#accordionDichiarante">
                                    <div class="accordion-body">
                                        <div class="row row-cols-1 row-cols-md-3 g-4">
                                            <div>
                                                <label for="cognome" class="form-label">Cognome *</label>
                                                <input type="text" class="form-control" id="cognome" name="cognome" value="@dichiarante.Cognome" required>
                                            </div>

                                            <div>
                                                <label for="nome" class="form-label">Nome *</label>
                                                <input type="text" class="form-control" id="nome" name="nome" value="@dichiarante.Nome" required>
                                            </div>

                                            <div>
                                                <label for="codice_fiscale" class="form-label">Codice Fiscale *</label>
                                                <input type="text" class="form-control" id="codice_fiscale" name="codice_fiscale"
                                                    value="@dichiarante.CodiceFiscale" minlength="16" maxlength="16" required>
                                            </div>

                                             <div class="col">
                                                <label for="sesso" class="form-label">Sesso: *</label>
                                                <select class="form-select" id="sesso" name="sesso" required>
                                                    @foreach (var sex in sessi)
                                                    {
                                                        <option value="@sex" selected="@(sex == sesso ? "selected" : null)">@sex</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label for="data_nascita" class="form-label">Data di nascita *</label>
                                                <input class="form-control" type="date" id="data_nascita" name="data_nascita"
                                                    value="@(dichiarante.DataNascita?.ToString("yyyy-MM-dd") ?? "")" required>
                                            </div>

                                            <div class="col">
                                                <label for="comune_nascita" class="form-label">Comune di nascita *</label>
                                                <input type="text" class="form-control" id="comune_nascita" name="comune_nascita"
                                                    value="@dichiarante.ComuneNascita" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- SEZIONE 2 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading2">
                                    <button class="accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                        <i class="fa-solid fa-home me-2"></i> Residenza
                                    </button>
                                </h2>
                                <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                                     data-bs-parent="#accordionDichiarante">
                                    <div class="accordion-body">
                                        <div class="row row-cols-1 row-cols-md-3 g-4">
                                             <div>
                                                <label for="indirizzo_residenza" class="form-label">Indirizzo di residenza *</label>
                                                <input type="text" class="form-control" id="indirizzo_residenza" name="indirizzo_residenza"
                                                    value="@dichiarante.IndirizzoResidenza" required>
                                            </div>

                                            <div>
                                                <label for="numero_civico" class="form-label">Numero civico *</label>
                                                <input type="text" class="form-control" id="numero_civico" name="numero_civico"
                                                    value="@dichiarante.NumeroCivico" required>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        <!-- SEZIONE 3 -->
                       <div class="accordion-item">
                            <h2 class="accordion-header" id="heading3">
                                <button class="accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    <i class="fa-solid fa-users me-2"></i> Parenti
                                </button>
                            </h2>
                            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                                data-bs-parent="#accordionDichiarante">
                                <div class="accordion-body">

                                    <!-- Pulsante aggiungi parente -->
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h6 class="fw-bold text-secondary mb-0">
                                            <i class="fa-solid fa-people-group me-2"></i> Elenco Parenti
                                        </h6>
                                        <span>Componenti Nucleo: @componentiNucleo</span>
                                        <a href="@Url.Action("Create", "Anagrafe", new { idEnte = dichiarante.IdEnte, codiceFamiglia = dichiarante.CodiceFamiglia, codiceIntestarioScheda = dichiarante.CodiceFiscaleIntestatarioScheda, indirizzoResidenza = dichiarante.IndirizzoResidenza, civico = dichiarante.NumeroCivico})"
                                        class="btn btn-sm btn-success rounded-3 shadow-sm">
                                            <i class="fa-solid fa-user-plus me-1"></i> Aggiungi Parente
                                        </a>
                                    </div>

                                    <!-- Elenco schede parente -->
                                    <div class="row row-cols-1 row-cols-md-2 g-3">
                                        @foreach (var membro in parenti)
                                        {
                                            <div class="col">
                                                <div class="card shadow-sm rounded-3 border-0 h-100">
                                                    <div class="card-body">
                                                        <h6 class="card-title mb-3 d-flex justify-content-between align-items-center">
                                                            <span>
                                                                <i class="fa-solid fa-user me-2 text-primary"></i>
                                                                <a href="@Url.Action("Modifica", "Anagrafe", new { id = membro.id })" 
                                                                class="text-decoration-none text-dark fw-semibold">
                                                                    @membro.Cognome @membro.Nome
                                                                </a>
                                                            </span>
                                                            <span class="badge bg-light text-dark border">@membro.Parentela</span>
                                                        </h6>
                                                        <ul class="list-unstyled small mb-0">
                                                            <li><strong>Sesso:</strong> @membro.Sesso</li>
                                                            <li><strong>Codice Fiscale:</strong> @membro.CodiceFiscale</li>
                                                            <li><strong>Data di nascita:</strong> @(membro.DataNascita?.ToString("dd/MM/yyyy"))</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>


                        
                        @* Metadati *@
                        <div class="accordion-item">
                                <h2 class="accordion-header" id="heading4">
                                    <button class="accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            <i class="fa-solid fa-database me-2"></i>  Metadati
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                     data-bs-parent="#accordionDichiarante">
                                    <div class="accordion-body">
                                        <div class="row row-cols-1 row-cols-md-3 g-4">
                                            <div class="col">
                                                <label for="dataCreazione" class="form-label">Data Creazione</label>
                                                <input class="form-control readonly-field" type="date" id="dataCreazione" name="dataCreazione"
                                                    value="@(dichiarante.data_creazione?.ToString("yyyy-MM-dd") ?? "")" readonly>
                                            </div>
                                            
                                            <div class="col">
                                                <label for="dataAggiornamento" class="form-label">Data Aggiornamento</label>
                                                <input class="form-control readonly-field" type="date" id="dataAggiornamento" name="dataAggiornamento"
                                                    value="@(dichiarante.data_aggiornamento?.ToString("yyyy-MM-dd") ?? "")" readonly>
                                            </div>

                                            <div class="col">
                                                <label for="dataCancellazione" class="form-label">Data Cancellazione</label>
                                                <input class="form-control readonly-field" type="date" id="dataCancellazione" name="dataCancellazione"
                                                    value="@(dichiarante.data_cancellazione?.ToString("yyyy-MM-dd") ?? "")" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        @* <!-- SEZIONE 4 -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading4">
                                    <button class="accordion-button collapsed fs-6" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            <i class="fa-regular fa-thumbs-up me-2"></i> Esiti
                                    </button>
                                </h2>
                                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                                     data-bs-parent="#accordionDichiarante">
                                    <div class="accordion-body">
                                        <div class="row row-cols-1 row-cols-md-3 g-4">
                                           <div class="col">
                                                <label for="presenzaPod" class="form-label">Presenza POD</label>
                                                <input type="text" class="form-control readonly-field" id="presenzaPod" name="presenzaPod" value="@report.presenzaPod" readonly>
                                            </div>
                                            <div class="col">
                                                <label for="esitoStr" class="form-label">Esito STR</label>
                                                <select class="form-select" id="esitoStr" name="esitoStr" required>
                                                    @foreach (var esito1 in esiti)
                                                    {
                                                        <option value="@esito1" selected="@(esito1 == esitoStr ? "selected" : null)">@esito1</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label for="esito" class="form-label">Esito *</label>
                                                <input class="form-control" type="number" id="esito" name="esito" min="1" max="4" value="@report.esito" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> *@

                        <!-- BOTTONI -->
                        <hr class="my-4" />
                        <div class="d-flex justify-content-between">
                            <a href="@Url.Action("Show","Anagrafe", new { selectedEnteId = dichiarante.IdEnte})"
                               class="btn btn-outline-secondary btn-sm rounded-3">
                                <i class="fa-solid fa-arrow-left"></i> Torna alla consultazione
                            </a>
                            <button type="submit" class="btn btn-primary btn-sm rounded-3">
                                <i class="fa-solid fa-check"></i> Aggiorna
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
